@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@*@using (Html.BeginForm("Login", "Account", method: FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div>
            Username : @Html.TextBox("Username")
        </div>
        <div>
            Password : @Html.Password("Password")
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    }*@

@*@using (Html.BeginForm("Login", "Account", method: FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div>
            Username : @Html.TextBoxFor(m => m.Username)
        </div>
        <div>
            Password : @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    }*@

@using (Html.BeginForm("Login", "Account", method: FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div>
        Username : @Html.EditorFor(m => m.Username)
    </div>
    <div>
        Password : @Html.EditorFor(m => m.Password)
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}